<div>
    &nbsp;</div>
<h2 *ngIf="!compInteractions" style="text-align: center;">Pending List For Interactions</h2>


<div class="col-md-12 row">
    <div class="col-md-1">
        From Date :
        <input type="date" [(ngModel)]="fromDate" class="form-control" />
    </div>
    <div class="col-md-1">
        To Date :
        <input type="date" [(ngModel)]="toDate" class="form-control" />
    </div>
    <div class="col-md-1">
        <br />
        <button class="btn btn-primary form-control" (click)="getDatewiserequestInteraction()">
            <span class="glyphicon glyphicon-share-alt">&nbsp;</span>OK
        </button>
    </div>
</div>

<div class="col-md-12 row">
    <div class="col-md-10 row">
    </div>
    <div>
        <button *ngIf="!compInteractions" class="btn btn-primary form-control bootstrapbutton" (click)="compInteractaions()">Completed Interactions</button>
    </div>
</div>
<div>&nbsp;</div>
<div *ngIf="allrequest" class="col-md-12 row">
    <div class="table-responsive">
        <table #table id="tableId" class="table table-bordered" style="border-width:1px; border-color:black;font-size:20px;padding: 5px;margin: 0 auto; ">
            <thead>
                <tr style="border-width:1px; border-color:black;font-size:12px;">
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">SlNo.</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Customer Name</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Machine Number</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Model</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Contact Persons</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244); color:antiquewhite;background-color: black;text-align: center;">Email</th>
    
                    
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Request For</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">S & S List</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Remarks</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Status</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Created By</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Request Date</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Interact</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let request of requestlist | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
                  <tr>
                    <td style="border-width:1px; border-color:black;text-align: right;font-size:18px;">{{10 * (p-1)+(i+1)}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{request.companyName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: right;font-size:18px;">{{request.machineNumber}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{request.modelName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">
                      <ng-container *ngFor="let contact of request.contactData">
                        <p>{{contact.contactName}}</p>
                      </ng-container>
                    </td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">
                      <ng-container *ngFor="let contact of request.contactData">
                        <p> {{contact.email}} {{contact.designation}}</p>
                      </ng-container>
                    </td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{request.requestFor}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{request.sandS}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{request.remarks}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">
                      <p *ngIf="request.isDone" style="color: green;"><b>Done</b></p>
                      <p *ngIf="!request.isDone" style="color: red;"><b>Not Done</b></p>
                    </td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{request.createdBy}}</td>
                    <td style="border-width:1px; border-color:black;text-align: right;font-size:18px;">{{request.createdOn | date }}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">
                      <button class="btn btn-primary form-control" (click)="interact(request)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              
        </table>
        <br>
        <div style="text-align: center;" *ngIf="exporting">
            <button style="margin: 0 auto;" class="btn btn-info" (click)="exportTableToExcel()">Export to Excel &nbsp;&nbsp;<i class="far fa-file-excel"></i></button>
            <button style="margin: 0 auto; margin: 15px;" class="btn btn-info" (click)="exportTableToPDF()">Export to PDF &nbsp;&nbsp;<i class="far fa-file-pdf"></i></button> </div>

    </div>
    <br />

</div>
<div>&nbsp;</div>
<pagination-controls (pageChange)="p = $event" class="custom-pagination" style="float: right"></pagination-controls>
<br /><br />
<div>&nbsp;</div>
<div *ngIf="isClicked">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Customer Name :</b> {{companyName}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Machine Number :</b> {{machineNumber}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Model :</b> {{modelName}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Region :</b> {{region}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Zone :</b> {{zone}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Request For :</b> {{requestFor}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Remarks :</b> {{remarks}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Date Of Interaction :</b></label>
            <input type="date" name="dateOfInteraction" [(ngModel)]="dateofinteraction" class="form-control" placeholder="Select Interacted Date">
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Attended By:</b></label>
            <select (change)="onSelectAttendedBy($event)" class="form-control">
                <option value="">Select Person</option>
                <option *ngFor="let users of usersList" value={{users.id}} >
                  {{users.userName}}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Attended How:</b></label>
            <select (change)="onSelectAttendedHow($event)" class="form-control">
                <option value="">Select Type Of Interaction</option>
                <option *ngFor="let attendtype of attendtypelist" value={{attendtype.attendTypeId}} >
                  {{attendtype.attendTypeName}}
                </option>
            </select>
        </div>
    </div><br><br><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary form-control" (click)="saveInteraction()">DONE</button>
        </div>
        <div class="col-md-3">
        </div>
    </div><br>
</div>
<div *ngIf="compInteractions" class="col-md-12 row">

    <div class="table-responsive" style="max-height: 800px; overflow-y: auto;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <input class="form-control" type="text" id="searchInput" placeholder="Search here Cutomer Name" [(ngModel)]="searchText">



            </div><div class="col-md-8"></div>
        </div>
        <table #table id="tableIdint" class="table table-bordered" style="border-width:1px; border-color:black;font-size:20px;padding: 5px;margin: 0 auto; ">
            <thead>
                <tr style="border-width:1px; border-color:black;font-size:12px;">
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">SlNo.</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Customer Name</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Machine Number</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Model</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Region</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Zone</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Remarks</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Attended By</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Attended How</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: antiquewhite;background-color: black;text-align: center;">Attended On</th>
                </tr>
            </thead>
            <tbody>
             
                    <tr style="border: 1px solid black;height: 25px;"
                    *ngFor="let interact of interactlist  | search: searchText ; let i = index  line-height: 1.2;">


                <td style="border: 1px solid black;text-align: right;padding: 1px; ">{{(i+1)}}</td>
                                        
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.cutomerName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.machineNumber}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.modelName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.regionName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.zoneName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.remarks}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.attendedByUserName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.attendedHowName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">{{interact.dateOfInteraction |  date:'dd-MMM-y'}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div style="text-align: center;" *ngIf="exporting">
            <button style="margin: 0 auto;" class="btn btn-info" (click)="exportTableToExcelint()">Export to Excel &nbsp;&nbsp;<i class="far fa-file-excel"></i></button>
            <button style="margin: 0 auto; margin: 15px;" class="btn btn-info" (click)="exportTableToPDF()">Export to PDF &nbsp;&nbsp;<i class="far fa-file-pdf"></i></button> </div>

    </div>
    <br />

</div><br><br><br><br><br>
