<div class="col-md-12 row">
    <div class="col-md-1"></div>
    <div class="col-md-11">

        <div class="container" style="border: 0cap;">

            <div class="col-md-12 row">
                <div class="col-md-1"></div>
                <div id="printsection" class="col-md-8 table-bordered"
                    style="background-color:white;border-color:forestgreen;border-width:2px">

                    <div class="col-md-12 row">
                        <div class="col-md-8">
                          
                        </div>
                        <div class="col-md-2 logo">
                           
                            <img class="logo" style="width: 50%;" src="assets/Group 2CRMlogo2.png" alt="logo"> 
                         </div>
                         <div class="col-md-2">
                             <p style="text-align: center; font-size: 30px;"><strong>RapidI TRAINING CHARGES</strong></p>
                             <input type="hidden" [(ngModel)]="TemplateName" value="RapidI TRAINING CHARGES" />
                             </div>
                      
                    </div>
                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
                        <tr style="border: 1px solid black; height: 25px;">


                            <td style="width: 19%; vertical-align: top; border: 1px solid black; text-align: left;">
                                <p style="border-bottom: 1px solid black; text-align: left;">Billing Address:</p>
                                <p style="text-align: left;">{{billingAddress}}</p>
                              </td>
                          <!-- First Column -->
                          <td style="width: 10%; vertical-align: top; border: 1px solid black; text-align: center; background-color: rgb(212, 212, 212);">
                            <!-- Centered content -->
                            <p style="border-bottom: 1px solid black; text-align: left;">Ref.No: </p>
                            <p style="border-bottom: 1px solid black; text-align: left;">Date:</p>
                            <p style="border-bottom: 1px solid black; text-align: left;">Your Enquiry: </p>
                            <p style="border-bottom: 0px solid black; text-align: left;">Kind Attention:</p>
                          </td>
                      
                          <!-- Second Column -->
                          <td class="abc" style="width: 10%; vertical-align: top; border: 1px solid black; text-align: right; background-color:none">
                            <!-- Right-aligned content -->
                            <p style="border-bottom: 1px solid black; text-align: left;">{{RefID}}</p>
                            <p style="border-bottom: 1px solid black; text-align: left;">{{value | date}} </p>
                            <p style="border-bottom: 1px solid black; text-align: left;">Email/Telephonic </p>
                            <p style="border-bottom: 0px solid black; text-align: left;"> Mr. M. Sundaram </p>
                          </td>
                      
                          <!-- Third Column for Billing Address -->
                         
                        </tr>
                      </table>
                      
                    <div style="text-align: left;">
                        <br>
                        Dear Sir/Madam,<br><br>
                        <p><strong>Sub: <u>Training Offer for Vision Measuring system – “Rapid-I”

                        </u></strong></p>
                        <br /><br />
                        Thank you very much for your interest in Rapid-I Systems. <br /><br /><br />

                        As required by you, we are pleased to offer our Training Service visit programme for your Rapid-I, 
                        Vision Measuring System. The Terms and Conditions are enclosed along with for your reference. 

                        Trust this enables you to proceed further and look forward to the pleasure of receiving your esteemed Purchase order. 



                        <br /><br /><br />

                        For further commercial details, kindly be guided by the attached Terms and Conditions sheet. We hope 
                        this enables you to proceed further. We look forward to the pleasure of receiving your esteemed 
                        Purchase Order. 
 <br /><br />

                        Assuring you our best services always,<br />
                        Yours faithfully,<br />
                        <p><strong>For CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p><br /><br />

                  <strong>   Shivaputra B Dinni  </strong> <br />
                  <strong>      (Sr. Application Engg)  </strong> <br /><br />

                  P.S: All prices quoted are in  <strong> Indian Rupees.</strong>
                    </div>
               
<br><br><br><br><br><br><br><br><br>



<div class="col-md-12 row">
    <div class="col-md-8">
      
    </div>
    <div class="col-md-4 logo">
       <img class="logo" style="width: 50%;" src="assets/Group 2CRMlogo2.png" alt="logo"> 
    </div>
  
</div> <br><br><br>

<table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black; ">
    <tr>
        <td colspan="4" >
            <h4 style="text-align: center; background-color: rgb(212, 212, 212);"><strong> TERMS AND CONDITIONS
                </strong> <br>
             


            </h4>
        </td>
    </tr>
<tr>
    <td style="width: 10px; vertical-align: top; border: 1px solid black;">
        <p>1.</p>
    </td>
    


        

        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p >Offer validity : 30 days from the date hereof</p>

        </td>
    </tr>

    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >2.</p>

        </td>



        <td style="width: 100%; vertical-align: top; border: 1px solid black;">
            <p >The price of One Day Training Service Visit is <strong> Rs. 8,500=00. (Rupees Eight Thousand Five Hundred Only). Service Tax @18% extra applicable.</strong>
            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >3.</p>

        </td>


        


        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p >Training will be carried out in one week after receipt of your firm work order and 100% payment in advance. The Training date will be fixed on a mutually convenient date. All assistance should be provided to our Engineer during service.



            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >4.</p>

        </td>


       


        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p >Payment 100% advance along with Purchase order.</p>

        </td>
    </tr>


    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >5.</p>

        </td>


      

        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p >Subject to Bangalore Jurisdiction. </p>

        </td>
    </tr>





    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >6.</p>

        </td>


    


        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p > <strong> GSTIN: 29AAACC8014D1Z0    HSN: 84719000    SAC: 998717 </strong>

            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 10px; vertical-align: top; border: 1px solid black;">
            <p >7.</p>

        </td>


       


        <td style="width: 70%; vertical-align: top; border: 1px solid black;">
            <p >100% advance with Purchase Order. </p>

        </td>
    </tr>

</table>
                    
<div style="text-align: left;">

    <p>For  <strong> CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p>

   <strong> Shivaputra B Dinni </strong> <br />
   <strong>    (Sr. Application Engg) </strong><br />

 
</div> </div>
</div>



</div><br>

<div>&nbsp;</div>



<div class="col-md-12 row"><br><br><br>
    <div class="col-md-4"></div>
    <div class="col-md-1">
        
<button style="width: 50%;" type="button" class="btn btn-success" data-dismiss="modal"
style="background-color: rgb(27, 9, 129);" (click)="save()">SAVE</button> 
    </div>
    <div class="col-md-2">
        <input style="width: 50%;" type="button" (click)="print('printsection')" value="PRINT"
            class="form-control btn-warning" />
    </div>
    <br><br> <br><br> <br><br> <br><br><br> <br><br>
    <div class="col-md-4">&nbsp;</div>
</div>
</div>
</div>




