/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
.footerfix{
    position: fixed;bottom: 0%;
    width: 100%;
    /* background-color: #ffefc7; 
    padding-top: 5px; */
  
}