<div class="container" style="border: 0cap;">

    <div class="col-md-1"></div>
       <div id="printsection" class="col-md-8 table-bordered"
           style="background-color:white;border-color:forestgreen;border-width:2px">
   
           <div class="col-md-12 row">
               <div class="col-md-10">
                 
               </div>
               <div class="col-md-2 logo">
                  
                   <img class="logo" style="width: 50%;" src="assets/CTPLLogoForDocManager.png" alt="logo"> 
                  
                </div>
          
           </div>
         
           <div style="text-align: left;">
   
               To <br>
               The Branch Manager, <br>
               State Bank of India, <br>
               # 26/A, Electronic City, <br>
               Bangalore – 560 100 <br>
               <br>
              
               <p>Ref :&nbsp;&nbsp;	FTT/22-23/013 B	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Date:		</p>
              <p> Dear Sir,	</p>

              <p style="margin-bottom: -0.2rem;"> Sub:&nbsp;&nbsp; 	FTT to our suppliers -	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		Navitar Inc.	</p>		
              <p>Ref:&nbsp;&nbsp;Our Current A/c No. 31074005752 </p>	
              <p>We have been imported Optical Zoom Accessories (Lens) 136 No's from M/s. Navitar Inc,	
             200 Commerce Drive, Rochester, Newyork - 14623, USA.	</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So as to enable you to issue a FTT for US$	27,390.00 	
              Amount in Words US$ Twenty Seven Thousand Three Hundred and Ninety only </p>
  <p>We have been enclosed the following documents: </p>
  <p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Form A1 duly filled in.	</p>
  <p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Invoice received from M/s. Navitar Inc.	</p>
  <p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	Purchase Order issued by us.</p>
  <p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4)	Customs Bill of Entry No.4732443 dated 21 February 2023		</p>
  <p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5)	Declaration u/s. 10(5), Chapter III of Foreign Exchange Management Act, 1999.	</p>
<br>
<p>Kindly arrange FTT in favour of M/s. Navitar Inc, through their bankers namely,										
    JP Morgan Chase Bank, 1575 East Henrietta Road, Rochester, New York-14623, USA.	</p>     
     
<p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank A/c No:&nbsp;&nbsp;&nbsp;&nbsp;740696	</p>
<p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SWIFT Code:&nbsp;&nbsp;&nbsp;&nbsp;CHASUS33</p>
<p class="abcd" style="margin-bottom: 0.1rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Routing No.:&nbsp;&nbsp;&nbsp;&nbsp;021000021	</p>
<br>
<p style="margin-bottom: 0.3rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thanking you,</p>
<p class="abcd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yours faithfully,</p>
<p>For CUSTOMISED TECHNOLOGIES (P) LTD	</p>
<br><br>
<p>R. Ramachandran	</p>
<p class="abcd">(Managing Director)</p>
</div>
   
       </div>
   
       <div class="col-md-12 row">
           <div class="col-md-3"></div>
           <div class="col-md-1">
               
   <button style="width: 50%;" type="button" class="btn btn-success" data-dismiss="modal"
   style="background-color: rgb(27, 9, 129);" (click)="save()">SAVE</button> 
           </div>
           <div class="col-md-2">
               <input style="width: 50%;" type="button" (click)="print('printsection')" value="PRINT"
                   class="form-control btn-warning" />
           </div>
           <br><br> <br><br> <br><br> <br><br><br> <br><br>
           <div class="col-md-4">&nbsp;</div>
       </div>
   </div>
   