<div class="container" style="border: 0cap;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Digital-7&display=swap">
 <div class="col-md-1"></div>
    <div id="printsection" class="col-md-8 table-bordered"
        style="background-color:white;border-color:forestgreen;border-width:2px">

        <div class="col-md-12 row">
            <div class="col-md-8">
              
            </div>
            <div class="letter">
               
                <div class="col-md-2 logo">
                    <div style="font-size: 25px; font-family: 'LcdD'; color: rgb(138, 237, 255); display: flex; align-items: center; justify-content: flex-end;">
                        &nbsp; &nbsp; &nbsp; &nbsp;<img src="assets/new logo doc.PNG" alt="Company Logo" style="width: 30px; height: auto; margin-top: -30px; margin-right: -150px;">
                        <strong style="margin-top: -5px;">CUSTOMISED<br>TECHNOLOGIES  PVT. LTD.</strong>
                    </div>
                    

                    <div style="font-size: 15px;">
                        Regd, Off.: # 82 B, Electronics City, Phase 1, Bangalore – 560 100. <br />
                     Web: www.customisedtechnologies.com <br />
                 
                        <u>E-mail: office@customisedtechnologies.com</u><br>
                   
                        CIN: U72900KA1995PTC018416
                    </div>
                </div> <br>
             
            
       
          
        </div>
      
          
      
       
        <div style="text-align: left;">

            To <br>
            The Branch Manager, <br>
            State Bank of India, <br>
            # 26/A, Electronic City, <br>
            Bangalore – 560 100 <br>
            <br>
            Dear Sir/Madam,<br>
            <p><strong>Sub: <u>COLLECTION PAYMENT FOR IMPORTS OF GOODS:

            </u></strong></p>
            <br >
            We request you to arrange for remittance as per details given below:
            <br >
</div>
<table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
   

    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >1</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Nature of Forex remittance</p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >Collection Payment for import of goods.

            </p>

        </td>
    </tr>

    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >2</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Amount to be remitted: Currency: <br>
                 Amount:</p>

        </td>


        <td style="width:  11%; vertical-align: top; border: 1px solid black;">
            <p ><strong>USD</strong> <br>
               <strong> 27,390.00</strong>

            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;">
            <p ></p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >Amount In words</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >USD TWENTY SEVEN THOUSAND <br> THREE HUNDRED AND NINETY ONLY


            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >3</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Name of the Beneficiary</p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >NAVITAR INC</p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >4</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p > Address of the Beneficiary</p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
           <p >200 Commerce Drive, Rochester, New York<br> 
            14623, USA.

            </p> 

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >5</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
         Beneficiary Bank details: <br>
                (Account Number, Name of the Bank,<br> Address and BIC code to be given)
             

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >BANK NAME: JP Morgan Chase Bank <br> BANK Address: 1575 East Henrietta Road,<br> Rochester, New York-14623, USA <br> A/c No: 740696 <br>
                SWIFT Code: CHASUS33 <br>
                Routing: 021000021
                
            </p> 

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >6</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Consignor of Goods if other than <br> Beneficiary</p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >NAVITAR INC</p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >7</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Brief description of goods to be <br>
                imported
                
            </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >MACHINE VISION LENSES AND <br>ACCESSORIES</p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >8</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >HSN Code (Goods Code and 
                Description)
                
            </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >90021100 – MACHINE VISION LENSES <br>
                AND ACCESSORIES
                
            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >9</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Port of Shipment/Airport of <br>
                Shipment/Courier
                
            </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >NEW YORK, UNITED STATES
            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >10</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Port of Delivery/Airport of <br>
                Delivery/Courier
                </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >BANGALORE, INDIA</p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >11</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >BOE NUMBER, BOE DATE, <br>
                PORT CODE, BOE AMOUNT
                
                </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p > 
                BOE Number: 4732443, <br>
                BOE Date: 21/02/2023, <br>
                PORT CODE: INBLR4, <br>
                BOE Amount: USD 27,390.00
                
            </p>

        </td>
    </tr>
    <tr>
        <td style="width: 1%; vertical-align: top; border: 1px solid black;text-align: center;">
            <p >12</p>

        </td>


        <td style="width: 10%; vertical-align: top; border: 1px solid black;">
            <p >Invoice Number and Date
            </p>

        </td>


        <td style="width: 11%; vertical-align: top; border: 1px solid black;">
            <p >  334478 dated 17/02/2023

            </p>

        </td>
    </tr>
   


</table>

       <br><br><br>
     
       

        <p style="display: inline; font-size: 15px;">2. In connection with the above advance remittance for imports, we certify/undertake as under:</p>


        <p style="font-size: 15px;" >
           &nbsp;&nbsp;a.&nbsp;&nbsp;&nbsp;We undertake to ensure that import of goods covered by the above remittance will be
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completed within the time prescribed by Reserve Bank of India  (presently six months 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from the date of remittance for other goods and in case of capital goods 3years).
          </p>
              <p style="font-size: 15px;">&nbsp;&nbsp;b.&nbsp;&nbsp;&nbsp; We undertake to submit to your Bank the evidence of import (Bill of Entry etc.,) in <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;respect of this remittance, evidencing Import of goods into India, on receipt of goods <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;into India in any case not later than 15 days from the closure of the relevant period (i.e. 6 <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;months or 3 years as the case may be).</p>

    <p style="font-size: 15px;">&nbsp;&nbsp;c.&nbsp;&nbsp;&nbsp; The transaction does not involve countries under US OFAC/EU/UN <br> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comprehensive/targeted sanctions (Russia, Iran, Syria, North Korea, Myanmar, Sudan, <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Venezuela & Cuba.</p>
    <p style="font-size: 15px;">&nbsp;&nbsp;d.&nbsp;&nbsp;&nbsp; We confirm that we are authorized to import the goods covered under this remittance <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;as per Foreign Trade Policy.</p>
    <p style="font-size: 15px;">&nbsp;&nbsp;e.&nbsp;&nbsp;&nbsp; Remittance for the import is necessary and is as per the contract of sale made between <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;us and the supplier abroad.</p>
    <p style="font-size: 15px;">&nbsp;&nbsp;f.&nbsp;&nbsp;&nbsp; In case import does not take place, we undertake to arrange for the return of the Foreign <br> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exchange being remitted now.</p>
    <p style="font-size: 15px;">&nbsp;&nbsp;g.&nbsp;&nbsp;&nbsp;We confirm that the undersigned is the authorized signatory for the Company/Firm and is <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;authorized to sign this application.</p>
    <p style="display: inline; font-size: 15px;">3. You may debit our <strong>Current A/c No. 31074005752</strong> for the equivalent of USD towards the above collection remittance and also towards your charges from <strong>A/c Number 31074005752.</strong></p>
    
    <div class="signature-block">
    <p>Yours faithfully,</p>
    <p><strong>For CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p><br><br><br>
    <strong>R. Ramachandran</strong> <br>
    <strong>Managing Director</strong>
    </div>
    <p>------------------------------------------------------------------------------------------------------------</p>
    <p style="margin: 0;">For Branch Use:</p>
    <p style="margin: 0;">Date of receipt of the application:</p>
    <p style="margin: 0;">Check:</p>
    <p style="margin: 0;">Proforma invoice/contract copy duly countersigned by importer customer enclosed.</p>
    <p style="margin: 0;">FEMA Declaration enclosed.</p> <br>
    
    <p style="display: inline; font-size: 12px;">Format of letter of undertaking to be furnished by the importer on their letterhead, with the request for advance remittance of foreign currency for imports of goods into India as per FEMA 1999 Part II item No. A-A.10%-(k). The undertaking should be signed by the authorized signatory of the importer with a seal and indicating the name of the signatory and designation. This letter is to be submitted for all advance remittances for imports irrespective of the amount of remittance.</p>

    
    </div>
</div>
    <div class="col-md-12 row">
        <div class="col-md-3"></div>
        <div class="col-md-1">
            
<button style="width: 50%;" type="button" class="btn btn-success" data-dismiss="modal"
style="background-color: rgb(27, 9, 129);" (click)="save()">SAVE</button> 
        </div>
        <div class="col-md-2">
            <input style="width: 50%;" type="button" (click)="print('printsection')" value="PRINT"
                class="form-control btn-warning" />
        </div>
        <br><br> <br><br> <br><br> <br><br><br> <br><br>
        <div class="col-md-4">&nbsp;</div>
    </div>

