

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <div class="container border" style="margin: 1cm auto 2.1cm; width: 80%;">
       
        <div class="col-md-12 row">
            <div class="col-md-1"></div>
            <div id="printsection" class="col-md-11"
                style="background-color:rgb(255, 255, 255);border-color:forestgreen;border-width:2px; padding: 20px;">
                <br><br>
                <div class="col-md-12 row">
                    <div class="col-md-8"></div>
                    <div class="row">
                        <div class="col-md-4 logo">
                            <div style="font-size: 25px; font-family: 'LCD'; color: rgb(138, 237, 255); display: flex; align-items: center; justify-content: flex-end;">
                                &nbsp; &nbsp; &nbsp; &nbsp;<img src="assets/new logo doc.PNG" alt="Company Logo" style="width: 30px; height: auto; margin-top: -30px; margin-right: -150px;">
                                <strong style="margin-top: -5px;">CUSTOMISED <br>TECHNOLOGIES  PVT. LTD.</strong>
                            </div>
                            

                            <div style="font-size: 15px;">
                                Regd, Off.: # 82 B, Electronics City, Phase 1, Bangalore – 560 100. <br />
                             Web: www.customisedtechnologies.com <br />
                         
                                <u>E-mail: office1@customisedtechnologies.com</u><br>
                           
                                CIN: U72900KA1995PTC018416
                            </div>

                        </div>

                        <br>  <br>  <br>  
                        <div class="col-md-2">
                            <p style="text-align: center; font-size: 15px;"><strong style="text-decoration: underline;">DECLARATION CUM UNDERTAKING</strong></p>

  
                        </div>
                    </div>

                    <div>
                        <div class="paragraph" style="text-align: justify; margin-bottom: 20px;">
                            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;We hereby declare that the transaction details of which are specifically mentioned in the Schedule hereunder does not involve and is not designed for the purpose of any contravention or evasion of the provisions of the aforesaid Act or of any rule, regulation, notification, direction, or order made there under.
                        </div>
                        
                        <div class="paragraph" style="text-align: justify; margin-bottom: 20px;">
                            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;We also hereby agree and undertake to give such information/documents, before the Bank undertakes the transactions and as may be required from time to time as will reasonably satisfy you about the transactions in terms of the above declaration
                            <br>
                        </div>
                        
                        <div class="paragraph" style="text-align: justify; margin-bottom: 20px;">
                            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;We also understand that if we refuse to comply with any such requirement or make unsatisfactory compliance therewith, the Bank shall refuse in writing to undertake the transaction and shall if it has reason to believe that any contravention/evasion is contemplated by us report the matter to Reserve Bank of India.
                           <br>
                        </div>
                        
                        <div class="paragraph" style="text-align: justify; margin-bottom: 20px;">
                            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;We further declare that the undersigned has the authority to give this declaration and undertaking on behalf of the company.
                            <br>
                        </div>
                        

                        <strong> Place: </strong>Bangalore   <br />
                        <strong> Date: 09 March 2023 </strong> <br /> <br><br><br><br>
                        <div style="text-align: right; padding-right: 3%;">
                            <strong>Signature of Applicant for Foreign Exchange</strong> <br />
                            <div style="text-align: right;">
                                <strong style="display: inline-block; margin-right: 5px;">Name:</strong> R. Ramachandran <br />
                                <strong style="display: inline-block; margin-right: 5px;">Address:</strong> Customised Technologies Pv Ltd,<br> 82 B,
                                 Electronics City, Phase 1,<br> Bangalore 560 100 <br />
                            </div> 
                        </div>
                        
                        <br> 
                        <hr>  
                       
                        <div class="col-md-2">
                            <p style="text-align: center; font-size: 15px; text-decoration: underline;"><strong>SCHEDULE</strong></p>

                        </div>    
                        <div style="margin: 0 auto; width: 100%;">
                          
                                <table border="1" cellspacing="0" cellpadding="5" style="width: 100%;">
                                    <colgroup>
                                        <col style="width: 33.33%;">
                                        <col style="width: 33.33%;">
                                        <col style="width: 33.33%;">
                                    </colgroup>
                                    <tr>
                                        <th>Nature / Purpose of Foreign Exchange transactions</th>
                                        <th>Amount of Foreign Exchange</th>
                                        <th>Beneficiary</th>
                                    </tr>
                                    <tr>
                                        <td>Optical Assemblies (Zoom Accessories)</td>
                                        <td>US$ 27,390.00</td>
                                        <td>M/s. Navitar Inc.<br>200 Commerce Drive<br>Rochester, New York,<br>14623, USA</td>
                                    </tr>
                                </table>
                         
                            
                            </div>
                    
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div>&nbsp;</div>
                    </div>
                </div>
           

                <div class="col-md-12 row"><br />
                    <div class="col-md-4">&nbsp;</div>
                    <!-- <button type="button" class="btn btn-success btn-md" data-dismiss="modal"
                        style="background-color: rgb(27, 9, 129); height: 40px;" (click)="save()">SAVE</button> -->
                        <div class="col-md-2">
                            <input type="button" (click)="print('printsection')" value="PRINT"
                                class="form-control btn-warning" />
                        </div>
                    <br><br> <br><br> <br><br> <br><br>
                    <div class="col-md-4">&nbsp;</div>
                </div>

            </div>

            </div>
        </div>
  
</body>
</html>
