<div class="col-md-12 row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <div class="container" style="border: 0cap;">

            <div class="col-md-12 row">
                <div class="col-md-1"></div>
                <div id="printsection" class="col-md-8 table-bordered"
                    style="background-color:white;border-color:forestgreen;border-width:2px">

                    <div class="col-md-12 row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4 logo">
                            <img class="logo" style="width: 20%;" src="assets/Group 2CRMlogo2.png" alt="logo">
                        </div>
                        <div class="col-md-2">
                            <p style="text-align: center; font-size: 30px;"><strong>Rapid-I AMC Offer</strong></p>

                        </div>

                    </div>
                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
                        <tr style="border: 1px solid black; height: 25px;">


                            <td style="width: 19%; vertical-align: top; border: 1px solid black; text-align: left;">
                                <p style="border-bottom: 1px solid black; text-align: left;">Billing Address:</p>
                                <p style="text-align: left;">{{billingAddress}}</p>
                            </td>
                            <!-- First Column -->
                            <td
                                style="width: 10%; vertical-align: top; border: 1px solid black; text-align: center; background-color: rgb(212, 212, 212);">
                                <!-- Centered content -->
                                <p style="border-bottom: 1px solid black; text-align: left;">Ref.No: </p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Date:</p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Your Enquiry: </p>
                                <p style="border-bottom: 0px solid black; text-align: left;">Kind Attention:</p>
                            </td>

                            <!-- Second Column -->
                            <td class="abc"
                                style="width: 10%; vertical-align: top; border: 1px solid black; text-align: right; background-color:none">
                                <!-- Right-aligned content -->
                                <p style="border-bottom: 1px solid black; text-align: left;">{{RefID}}</p>
                                <p style="border-bottom: 1px solid black; text-align: left;">{{value | date}} </p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Email/Telephonic </p>
                                <p style="text-align: left; border-bottom: 0;">
                                    <input type="text" id="KindAttention" name="KindAttention" [(ngModel)]="KindAttention" style="width: 100%; border: none;" required>
                                  </p>
                            </td>

                            <!-- Third Column for Billing Address -->

                        </tr>
                    </table>


                    <div style="text-align: left;">
                        <br>
                        Dear Sir/Madam,<br><br>
                        <p><strong>Sub: <u>: Offer of AMC for Vision Inspection system – “Rapid – I V3.4J/V2012J LX”
                                </u></strong></p>
                        <br /><br />
                        <br />

                        As required by you, we are pleased to offer our Annual Maintenance Contract programme for your
                        Rapid-I , Vision Inspection System for a period of one year. The Terms and Conditions are
                        enclosed alongwith for your reference. We are sure you appreciate the benefits offered by Annual
                        Maintenance Contracts.
                        <br /><br /><br />

                        Trust this enables you to proceed further and look forward to the pleasure of receiving your
                        esteemed Purchase order. Assuring you the best of our services at all times.

                        <br><br>
                        Yours faithfully,<br /><br>
                        <p><strong>For CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p><br /><br /><br><br>

                        <strong> Shivaputra B Dinni </strong> <br />
                        <strong> (Sr. Application Engg) </strong> <br /><br />

                    <strong></strong>
                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>

                    <div class="col-md-4 logo">
                        <img class="logo" style="width: 20%;" src="assets/Group 2CRMlogo2.png" alt="logo">
                    </div>
                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
                        <tr style="border: 1px solid black; height: 25px;">


                            <td style="width: 19%; vertical-align: top; border: 1px solid black; text-align: left;">
                                <p style="border-bottom: 1px solid black; text-align: left;">Billing Address:</p>
                                <p style="text-align: left;">{{billingAddress}}</p>
                            </td>
                            <!-- First Column -->
                            <td
                                style="width: 10%; vertical-align: top; border: 1px solid black; text-align: center; background-color: rgb(212, 212, 212);">
                                <!-- Centered content -->
                                <p style="border-bottom: 1px solid black; text-align: left;">Ref.No: </p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Date:</p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Your Enquiry: </p>
                                <p style="border-bottom: 0px solid black; text-align: left;">Kind Attention:</p>
                            </td>

                            <!-- Second Column -->
                            <td class="abc"
                                style="width: 10%; vertical-align: top; border: 1px solid black; text-align: right; background-color:none">
                                <!-- Right-aligned content -->
                                <p style="border-bottom: 1px solid black; text-align: left;">{{RefID}}</p>
                                <p style="border-bottom: 1px solid black; text-align: left;">{{value | date}} </p>
                                <p style="border-bottom: 1px solid black; text-align: left;">Email/Telephonic </p>
                                <p style="border-bottom: 0px solid black; text-align: left;"> Mr. M. Sundaram </p>
                            </td>

                            <!-- Third Column for Billing Address -->

                        </tr>
                    </table>

                    
                    <tr>
                        <td colspan="4">
                            <h4 style="text-align: center;"><strong> Annual Maintenance Contract - Terms and Conditions
                                </strong>

                            </h4>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>1.</p>

                        </td>





                        <td style="width:60%; vertical-align: top; border: 1px solid black;">
                            <p>Offer validity : 15 days from the date hereof</p>

                        </td>
                    </tr>

                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>2.</p>

                        </td>




                        <td style="width:60%; vertical-align: top; border: 1px solid black;">
                            <p>The price of Annual Maintenance Contract (AMC) is Rs.29,500=00. (Rs. Twenty Nine Thousand
                                Five Hundred Only) . Service Tax 14.5% @ present (Including SB Cess)

                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:2%; vertical-align: top; border: 1px solid black;">
                            <p>3.</p>

                        </td>



                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>2 Break down visit in a year apart from one Calibration cum preventive maintenance. All
                                required assistance will be provided by you to our Engineer to carry out this work
                                without
                                interruption. The date for carrying out the maintenance shall be pre -determined
                                together by
                                you and us and dates shall be recorded. After making proper arrangements for shutdown
                                Customised Technologies shall be intimated in a week’s advance. The general maintenance
                                will include cleaning of the modules, checking of earth connections, voltage levels at
                                different
                                points and other check points as per our regular maintenance guidelines. In addition to
                                the
                                above we undertake to attend and carryout two breakdown calls at no extra cost to you.
                                However, every breakdown call will he adjusted against maintenance call falling close to
                                it as
                                the maintenance shall be carried out alongwith that.


                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>4.</p>

                        </td>

                        <td style="width: 150%;; vertical-align: top; border: 1px solid black;">
                            <p>In the event of any Electronic Card or Mechanical failure, the same shall be replaced or
                                repaired by us for additional cost. However, PC and Operating System (Win’XP) and MS
                                office are not included in the scope of contract. This AMC will not cover faulty glass
                                scale
                                replacement, system issues and also software issues (like Virus attacks) Same shall be
                                repaired as and when required on chargeable basis and a temporary replacement shall
                                be offered if possible, on hire basis subject to availability of the same The hire
                                charges
                                shall be worked from time to time and informed to you.

                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>2.</p>

                        </td>




                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>Service Contract will be in operation for a period of one year from the date of
                                Technically and
                                commercially clear Purchase order along with 100% payment. The contract shall come into
                                effect after Technical Audit & Clearance by our Service / Application Engineers. Any
                                modification suggested by them shall be carried out before the commencement of the
                                contract.
                                Customised Technologies (P) Ltd shall not be responsible for any failures/damages that
                                occurs
                                due to the non -compliance of the recommendations by Customised Technologies (P) Ltd
                                given
                                from time to time.



                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>6.</p>

                        </td>





                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>In case, we find that the system covered by the Scope of this Contract is serviced by any
                                other
                                Party other than the Authorized Service Personnel, we have the right to terminate the
                                Contract

                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>7.</p>

                        </td>




                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>The glass plate shall be changed once in a year on chargeable basis as they are
                                consumable.</p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>8.</p>

                        </td>




                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>If the equipment, is not used as per specifications laid down by the manufacturer, or if
                                there is
                                any failure due to external circumstances, like voltage fluctuations, fire, accidents,
                                explosion,
                                floods and other acts of God etc., and we are called upon to make a visit, the cost of
                                visit
                                including replacement of spare parts if any will be to your account. Customised
                                Technologies
                                shall not be responsible for any loss of production or damage under any circumstances.
                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>9.</p>

                        </td>




                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>Calibration certificate will be issued by us with traceability to National /
                                International standards.
                                One Annual Calibration cost is included in the AMC offer.

                            </p>

                        </td>
                    </tr>
                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>10.</p>

                        </td>





                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>Customised Technologies will provide Software Upgrades through our Website, or through
                                emails or send CD by courier for additional cost. The decision on the mode of sending
                                upgrades will rest with the Software R&D group at Customised Technologies.


                        </td>
                    </tr>

                    <tr>
                        <td style="width: 2%; vertical-align: top; border: 1px solid black;">
                            <p>11.</p>

                        </td>




                        <td style="width:150%;; vertical-align: top; border: 1px solid black;">
                            <p>Subject to Bangalore Jurisdiction
                            </p>

                        </td>
                    </tr>

                    <!-- </table> -->
                    <div style="text-align: left;">

                        <p>For <strong> CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p>

                        <strong> Shivaputra B Dinni </strong> <br />
                        <strong> (Sr. Application Engg) </strong><br />


                    </div>
                </div>

            </div>




        </div>

        <div>&nbsp;</div>
        <div class="col-md-12 row"><br />
            <div class="col-md-4">&nbsp;</div>
            <button type="button" class="btn btn-success btn-md" data-dismiss="modal"
                style="background-color: rgb(27, 9, 129); height: 40px;" (click)="save()">SAVE</button>
            <div class="col-md-2">
                <input type="button" (click)="print('printsection')" value="PRINT" class="form-control btn-warning" />
            </div>
            <br><br> <br><br> <br><br> <br><br>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
</div>