<div class="dashboard-container">
    <div class="dashboard-buttons" style="justify-content: center;">
        <button class="btn btn-primary dashboard-button" (click)="request()">New Request</button>
        <!-- <button class="btn btn-primary dashboard-button" (click)="interaction()">Interactions</button> -->
    </div>
</div>
<div *ngIf="requestForm">
    <h2 style="text-align: center;">Request Form</h2>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit">Machine Number:</label>
            <input class="form-control" type="text" id="machineNumber" name="machineNumber" (change)="onChangeMachineNumber()" [(ngModel)]="machineNumber" required>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Customer Name :</b> {{customerName}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Model :</b> {{modelName}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Unit :</b> {{unit}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Address One :</b> {{addressOne}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Address Two :</b> {{addressTwo}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Address Three :</b> {{addressThree}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>City :</b> {{city}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>GSTIN :</b> {{gstin}}</label>
        </div>
         <div class="col-md-3">
            <!-- <label for="unit"><b>Country :</b> {{country}}</label> -->
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>State :</b> {{state}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Region :</b> {{region}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Route Number :</b> {{routeNumber}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Invoice Particular :</b> {{invoicePerticular}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Pincode :</b> {{pincode}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Zone :</b> {{zone}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Warranty From :</b> {{warrantyFrom}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Warranty Till :</b> {{warrantyTill}}</label>
        </div>
        <div class="col-md-3">
            <label for="address1"><b>Weekly Off :</b> {{weeklyOff}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label for="unit"><b>Working Start :</b> {{workingStart}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Working End :</b> {{workingEnd}}</label>
        </div>
        <div class="col-md-3">
            <label for="unit"><b>Security Formalities :</b> {{securityFormalities}}</label>
        </div>
    </div><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <!-- <div class="col-md-3">
            <label for="unit">Request For:</label>
            <select (change)="onSelectRequest($event)" class="form-control">
                <option value="">Select Requests</option>
                <option *ngFor="let requests of requestslist" value={{requests.requestsId}} >
                  {{requests.requestsName}}
                </option>
            </select>
        </div> -->
        <div class="col-md-3">
            <label for="unit">Request For:</label>
            <ng-select [items]="requestslist" name="requests" [(ngModel)]="selectedrequest" [multiple]="true" placeholder="Select Options" (change)="onSelectRequest()">
            </ng-select>
        </div>
        <div class="col-md-3">
            <label for="unit">S & S List:</label>
            <ng-select [items]="sandslist" name="sands" [(ngModel)]="selectedsands" [multiple]="true" placeholder="Select Options" (change)="onSelectsands()">
            </ng-select>
        </div>
        <div class="col-md-3">
            <label for="unit">Remarks:</label>
            <textarea class="form-control" type="text" id="remarks" name="remarks" [(ngModel)]="remarks" required></textarea>
        </div>
    </div><br><br>
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary form-control" (click)="saveRequest()">DONE</button> </div>
        <div class="col-md-3">
        </div>
    </div><br>
</div>
<div *ngIf="interactionForm">

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>