<div class="dashboard-container">
    <div class="dashboard-title">Dashboard</div>
    <div class="dashboard-buttons" style="justify-content: center;">
        <button class="btn btn-primary dashboard-button bootstrapbutton" [routerLink]="['/newcustomerregistration']">New Customer Registration</button>
        <button class="btn btn-primary dashboard-button" [routerLink]="['/newmachineregistaration']">New Machine Registration</button>
    </div>
    <section class="features">
        <div class="feature">
            <button class="btn btn-primary dashboard-button" [routerLink]="['/workFront']">Work Front</button>
        </div>
    </section><br>
    <section class="features">
        <div class="feature">
            <h3>Total Number Customers : {{noofCustomers}}</h3>
        </div>
    </section><br>
    <div class="dashboard-cards">
        <div class="dashboard-card" [routerLink]="['/invoiceList']">
            <div>Invoices</div>
            <div></div>
        </div>&nbsp;
        <div class="dashboard-card" [routerLink]="['/follow-upList']">
            <div>Follow-up</div>
            <div></div>
        </div><br>&nbsp;
        <div class="dashboard-card" [routerLink]="['/requestList']">
            <div>Requests</div>
            <div></div>
        </div>&nbsp;
        <div class="dashboard-card" [routerLink]="['/interactionList']">
            <div>Interactions</div>
            <div></div>
        </div>
    </div><br><br><br>
    <div>
        <h1 *ngIf="noofpendingrequest == 0" class="blinking-text" style="text-align: center;color: rgb(68, 211, 68);">Pending Requests : {{noofpendingrequest}}</h1>
        <h1 *ngIf="noofpendingrequest > 0" class="blinking-text" style="text-align: center;color: red;">Pending Requests : {{noofpendingrequest}}</h1>
    </div>
</div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="animated-card" [routerLink]="['/CallTicketScreen']" style="background-color: #b8e994;">
        <div class="card order-card p-4 border-0 rounded-3">
          <div class="card-body text-center">
            <h5 class="card-title text-dark">Call Ticket Screen</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="animated-card" [routerLink]="['/tripsheet']" style="background-color: #fab1a0;">
        <div class="card order-card p-4 border-0 rounded-3">
          <div class="card-body text-center">
            <h5 class="card-title text-dark">Trip Sheet</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="animated-card" [routerLink]="['/locationDetails']" style="background-color: #a4b0be;">
        <div class="card order-card p-4 border-0 rounded-3">
          <div class="card-body text-center">
            <h5 class="card-title text-dark">Location Details</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-2">
      <div class="animated-card" [routerLink]="['/qm']" style="background-color: #f8c291;">
        <div class="card order-card p-4 border-0 rounded-3">
          <div class="card-body text-center">
            <h5 class="card-title text-dark">Quotation Manager</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2">
      <div class="animated-card" [routerLink]="['/documentmanager']" style="background-color: #dfe6e9;">
        <div class="card order-card p-4 border-0 rounded-3">
          <div class="card-body text-center">
            <h5 class="card-title text-dark">Document Manager</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










<br><br><br><br><br><br><br>