
<div>&nbsp;</div>
<div class="container">
    <h2 class="text-center">Model Master</h2>
    <br>
    <form>
        <div class="form-group">
            <div class="col-6 mx-auto">
                <input type="text" class="form-control" id="modelName" name="modelname" [(ngModel)]="modelname" placeholder="Enter Model">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success" (click)="saveModel()">Save</button>
        </div>
    </form>
</div><br>
<div class="col-md-12 row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
    <div class="table-responsive" style="max-height: 800px; overflow-y: auto;">
            <table #table id ="tableId"  class="table table-bordered"
                style="border-width:1px; border-color:black;font-size:20px;padding: 5px;margin: 0 auto; ">
                <thead>
                <tr style="border-width:1px; border-color:black;font-size:15px;">
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">SlNo.</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">Model Name</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">Created On</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">Created By</th>
                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">Edit</th>

                    <th style="border-width:1px; border-color:rgb(248, 244, 244);color: rgb(231, 172, 94);background-color:rgb(27, 9, 129);text-align: center;">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of modellist  let i = index">
                    <td style="border-width:1px; border-color:black;text-align: right;font-size:18px;">{{10 * (p-1)+(i+1)}}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{model.modelName}}</td>
                    <td style="border-width:1px; border-color:black;text-align: right;font-size:18px;">{{model.createdOn | date }}</td>
                    <td style="border-width:1px; border-color:black;text-align: left;font-size:18px;">{{model.createdBy}}</td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#myModalUpdate" (click)="editModel(model)">Edit</button>
                    </td>
                    <td style="border-width:1px; border-color:black;text-align: center;font-size:18px;">
                        <button class="btn btn-danger" (click)="deleteModel(model.modelId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div style="text-align: center;" *ngIf="exporting">
            <button style="margin: 0 auto;" class="btn btn-info" (click)="exportTableToExcel()">Export to Excel &nbsp;&nbsp;<i class="far fa-file-excel"></i></button>
            <button style="margin: 0 auto; margin: 15px;" class="btn btn-info" (click)="exportTableToPDF()">Export to PDF &nbsp;&nbsp;<i class="far fa-file-pdf"></i></button>    </div>
    </div>
</div>
<div class="col-md-3"></div>
</div><br><br>
        
   
<br><br><br><br><br><br>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="container">
   
    <!-- Modal -->
    <div class="modal fade" id="myModalUpdate" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title custom-title" >Edit Model Details</h4>
          </div>
          <div class="modal-body">
            <div class="col-md-12 row">
                <div class="form-horizontal container">
                    <div class="col-md-12 row">
                        <label class="col-md-4" style="color:black;padding-top: 13px">Model Name:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="viewmodel" name="viewmodel"
                                [(ngModel)]="viewmodel" />
                        </div>
                    </div>
                    <br />
                   
    
                   
                    
                   
                   
    
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: rgb(141, 132, 7);color: white;">Close</button>

            <button type="button" class="btn btn-success" data-dismiss="modal" style="background-color: rgb(27, 9, 129);"  (click)="UpdateModel()">Update Model</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>